.Field___wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.Field___label {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #333333;
}

.Field___control {
  width: 12rem;
  height: 3rem;
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: var(--fw-medium);
  font-size: 0.875rem;
  padding: 0.5em 0.8em;
  color: #828282;
  border: 1px solid #828282;
  border-radius: 0.5rem;
}

.Field___hint {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  color: #828282;
}

.Field___controlWithIconStart {
  padding-left: 2em;
}

.Field___controlWithIconEnd {
  padding-left: 0.9em;
}

.Field___inputIcons {
  position: relative;
}

.Field___IconStart {
  position: absolute;
  top: 1em;
  left: 0.4em;
}

.Field___IconEnd {
  position: absolute;
  top: 1em;
  right: 0.4em;
}

.Field___controlError {
  border: 1px solid #d32f2f;
}

.Field___controlError + label .Field___label {
  color: #d32f2f;
}

.errorLabel {
  color: #333333;
}

.Field___control:hover,
.defaultHover,
.errorHover {
  border: 1px solid #333333;
}

.Field___controlError:hover + label .Field___label,
.defaultFocus:hover + label .Field___label,
.errorHover + label .Field___label {
  color: #333333;
}

.Field___control:focus,
.defaultFocus {
  border: 1px solid #2962ff;
}

.Field___control:focus + label .Field___label,
.defaultFocus + label .Field___label {
  color: #2962ff;
}

.Field___controlError:focus {
  border: 1px solid #d32f2f;
}

.Field___controlError:focus + label .Field___label {
  color: #d32f2f;
}

.Field___disabled {
  pointer-events: none;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
}

.Field___disabled:hover {
  border: 1px solid #e0e0e0;
}
