:root {
  --fw-medium: 500;
  --fw-regular: 400;

  --fs-title: 1.5rem;
  --fs-btn-label: 0.75rem;
  --fs-btn-text: 0.875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
ul {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: 'Ubuntu Mono', monospace;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.logo {
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.8125rem;
}

.flow > * + * {
  margin-top: 1.5rem;
}

@media (min-width: 48em) {
  .main {
    display: flex;
  }
}

.section__content {
  padding: 1rem 2rem;
  margin-top: 5rem;
}

@media (min-width: 48em) {
  .section__content {
    margin: 0 0 0 18rem;
  }
}

.text-gray {
  color: #828282;
}

.section-heading1 {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--fw-medium);
  font-size: var(--fs-title);
}

.section__btn {
  display: flex;
}

.section__btn > * + * {
  margin-left: 8rem;
}

.btn-label {
  font-weight: var(--fw-regular);
  font-size: var(--fs-btn-label);
}
