:root {
  --fw-medium: 500;
  --fw-regular: 400;

  --fs-title: 1.5rem;
  --fs-btn-label: 0.75rem;
  --fs-btn-text: 0.875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: 'Ubuntu Mono', monospace;
}
