:root {
  font-size: calc(0.4em + 1vw);

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  --fs-title: 1.5rem;
  --fs-btn-label: 0.75rem;
  --fs-btn-text: 0.875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
ul {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: 'Ubuntu Mono', monospace;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.logo {
  font-family: Poppins;
  font-weight: var(--fw-semi-bold);
  font-size: 0.8125rem;
}

.flow > * + * {
  margin-top: 1.5rem;
}

@media (min-width: 48em) {
  .main {
    display: flex;
  }
}

.section--content {
  padding: 1rem 2rem;
  margin-top: 5rem;
}

@media (min-width: 48em) {
  .section--content {
    margin: 0 0 0 13rem;
  }
}

.section__container {
  min-width: 22%;
}

.section__heading {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--fw-medium);
  font-size: var(--fs-title);
  text-transform: capitalize;
}

.section__wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 48em) {
  .section__wrapper {
    display: flex;
    flex-wrap: nowrap;
  }
}

.section__wrapper > * + * {
  margin-left: 0.5rem;
}

@media (min-width: 48em) {
  .section__wrapper > * + * {
    margin-left: 3rem;
  }
}

.section__label {
  font-weight: var(--fw-regular);
  font-size: var(--fs-btn-label);
  color: #333333;
}
